<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-left">
    <br>
    <h1><u>About</u></h1>
    <br>

    <p>Bro, I don't know what to say, but I built this shit. My name is Gr33nKa$h.<br>
    Sometimes I like to eat ice I find under the fridge. I like my pizza with spicey mayo. <br>
    I like some sports like raccoon shuffling and car whipping, but lately I've stuck to safer things, like <br>
    cable jumping. You won't get shocked if you were boots and gloves. No one tells you that!<br>
    Use this shit to make a random passwords for yourself, I guess.</p>
    <br>
    <br>
    _______
    <br>
    <a href="{% url 'generator:home' %}">Home</a>
</div>